body {
    font-family: "Inter", sans-serif;
}

h1{
    font-weight: 400;
    font-size: 48px;
}

.description{
    font-size: 10px;
    font-style: italic;
}

button{
    display: block;
    margin-top: 16px;
    width: 75px;
    height: 22px;
    Padding: 3px, 8px;
}

.container1{
    background-color: #FCA3A3;
    display: flex;
    align-items: center;
    width: 385px;
    height: 41px;
    padding: 10px;
}
.text{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    
}

.container2{
    background-color: #FFEA9E;
    display: flex;
    align-items: center;
    width: 385px;
    height: 41px;
    padding: 10px;
}
.container3{
    display: flex;
    align-items: center;
    width: 385px;
    height: 41px;
    padding: 10px;
}

.container1 > [type="checkbox"] {
    accent-color: #FCA3A3;
}

.container2 > [type="checkbox"] {
    accent-color: #FFEA9E;
}

[type="text"] {
    width: 205px;
    height: 22px;
}