

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
h1{
    font-family: "Inter";
    font-weight: 400;
    margin: 1rem 0px 0px 1rem;
}
.todos {
    margin: 1rem 0px 0px 1rem;
}

.todoList {
    display: flex;
    gap: 15px;
    background-color: rgb(244, 244, 134);
    padding: 10px;
    min-width: 250px;
    max-width: 400px;
}
.todoList:nth-child(odd){
    background-color: rgb(251, 102, 102);
}
.checkBox {
    display: flex;
    align-items: center;
}

.todoTitle {
    font-weight: bold;
}
.createTodo {
    margin: 1rem 0px 0px 1rem;
    display: flex;
    flex-direction: column;
}
.createTodo input{
    max-width: 205px;
    max-height: 22px;
    margin:10px 0px 10px 0px;
}

.createTodo button {
   
    max-width:75px ;
    max-height: 22px;
    margin-top: 8px;
    border: 2px solid gray;
    border-radius: 2.5px;
    padding: 3px,8px,3px,8px;
}
#li-3 .todoTitle{
    text-decoration: line-through;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13.33px;
    line-height: 15.33px;
}